header {
    background-color: #a7d495; /* Cor de fundo mais clara */
    color: #333; /* Cor de texto mais escura */
    font-size: 25px;
    padding: 4%; /* Padding aumentado */
}

.chamada {
    background-color: #8BC34A; /* Cor de fundo mais contrastante */
    padding-bottom: 2em; /* Padding reduzido */
    padding-top: 1em; /* Padding reduzido */
    display: flex;
    justify-content: center;
}

.chamada-texto {
    padding-right: 6%;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.8; /* Opacidade aumentada */
    height: 200px;
    transition: opacity 0.5s; /* Efeito de transição suave */
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(28, 63, 28);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra adicionada */
}header {
    background-color: #92db9f; /* Cor de fundo mais clara */
    color: #333; /* Cor de texto mais escura */
    font-size: 25px;
    padding: 4%; /* Padding aumentado */
}

.chamada {
    background-color: #c7d8b4; /* Cor de fundo mais contrastante */
    padding-bottom: 2em; /* Padding reduzido */
    padding-top: 1em; /* Padding reduzido */
    display: flex;
    justify-content: center;
}

.chamada-texto {
    padding-right: 6%;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.8; /* Opacidade aumentada */
    height: 200px;
    transition: opacity 0.5s; /* Efeito de transição suave */
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(129, 129, 204);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra adicionada */
}